<nav @fade class="nav">
	<ul class="nav-list">
		<li class="nav-list-item">
			<a [routerLink]="['/home']">Home</a>
		</li>
		<li class="nav-list-item">
			<a [routerLink]="['/project']">Projects</a>
		</li>
		<li class="nav-list-item">
			<a [routerLink]="['/issues']">Issues</a>
		</li>
		<li class="nav-list-item">
			<a [routerLink]="['/time']">Time</a>
		</li>
	</ul>
</nav>

<section class="wrapper">
	<div class="start-text">
		<h1 class="h1">Here you can view your issues and projects. Use the navigation:)</h1>
	</div>
</section>






